PidFile={{ PidFile }}
LogFile={{ LogFile }}
LogFileSize={{ LogFileSize }}
Server={{ Server }}
ListenPort={{ ListenPort }}
ListenIP={{ ListenIP }}
ServerActive={{ ServerActive }}
Hostname={{ Hostname }}
Include={{ Include }}